[Unit]
Description=Cosmos Systemd Auto Withdraw and Delegate
After=network-online.target
[Service]
User=root
ExecStart=/usr/local/bin/auto-delegate.sh
Restart=always
LimitNOFILE=4096
[Install]
WantedBy=multi-user.target
